.add-work {
  width: $panel-width;
  margin: 10px auto;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 30px 40px 25px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 62px 120px 25px;
  }
}

.add-work__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #aaa9a9;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.add-work__desc {
  margin: 0;
  padding: 5px 0 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify;

  span {
    font-weight: 700;
    text-transform: uppercase;
  }

  a {
    color: $teal-color;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $tealgray-color;
      text-decoration: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 20px;
    font-size: 18px;
  }
}

.add-work__list {
  padding: 5px 0 24px;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0 20px;
  }
}

.add-work__item {
  padding-left: 45px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 300;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 22px;
    top: 6px;
    background-image: url('../images/check-green.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    font-size: 16px;

    &::before {
      left: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.add-work__mobile-only {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.add-work__desktop-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
