.content {
  width: 100%;
}

.content__block {
  min-height: 40px;
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-width) {
    min-height: 50px;
  }
}

.content__block--green {
  min-height: 70px;
  background-color: $teal-color;

  @media (min-width: $desktop-width) {
    min-height: 120px;
  }
}

.content__page-link {
  padding-right: 20px;
  color: $light-color;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;

  &:hover {
    color: $gray-color;
  }

  &:active {
    color: $light-color;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    color: $light-color;
    width: 9px;
    height: 1px;
    border-top: 1px solid $light-color;
    position: absolute;
    top: 7px;
    right: 5px;

    @media (min-width: $desktop-width) {
      width: 11px;
      top: 10px;
      right: 27px;
    }
  }

  &::before {
    transform: rotate(37deg);
  }

  &::after {
    top: 12px;
    transform: rotate(-37deg);

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 48px;
    font-size: 20px;
  }
}

.content__text {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: $light-color;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    max-width: 880px;
    font-size: 25px;
    padding: 0;
  }
}
