.content {
  width: 100%;
}

.content__container {
  width: 100%;

  &--work {
    background-image: url('../images/work_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      min-height: 375px;
      background-image: url('../images/work_bg-tablet.jpg');
    }

    @media (min-width: $desktop-width) {
      min-height: 650px;
      background-image: url('../images/work_bg-desktop.jpg');
    }
  }
}

.content__block {
  min-height: 40px;
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }
}

.content__block--green {
  min-height: 70px;
  background-color: $teal-color;

  @media (min-width: $tablet-width) {
    min-height: 100px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    min-height: 120px;
  }
}

.content__page-link {
  padding-right: 20px;
  color: $light-color;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;

  &:hover {
    color: $gray-color;
  }

  &:active {
    color: $light-color;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    color: $light-color;
    width: 9px;
    height: 1px;
    border-top: 1px solid $light-color;
    position: absolute;
    top: 7px;
    right: 5px;

    @media (min-width: $desktop-width) {
      width: 11px;
      top: 10px;
      right: 0;
    }
  }

  &::before {
    transform: rotate(37deg);
  }

  &::after {
    top: 12px;
    transform: rotate(-37deg);

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 16px;
    font-size: 20px;
    font-weight: 300;
  }
}

.content__text {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: $light-color;
  text-transform: uppercase;

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    font-size: 18px;
    padding: 0 20px;

    &--desktop {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 930px;
    font-size: 25px;
    line-height: 40px;
    padding: 0;
  }
}
