.creation {
  width: $panel-width;
  margin: 0 auto;
  padding: 15px 0;
}

.creation__intro {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify;

  span {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.creation__desc,
.creation__intro {
  a {
    color: $teal-color;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $tealgray-color;
      text-decoration: none;
    }
  }
}

.creation__mobile-only {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.creation__desktop-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.creation__accordion {
  width: 320px;
  margin: 10px auto;
}

.creation__accordion input {
  display: none;
}

.creation__title {
  width: 320px;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: $darktext-color;
  text-align: center;
  display: block;
  z-index: 20;
  cursor: pointer;
  background-color: #e8e8e8;
  outline: 3px solid $teal-color;
  outline-offset: -13px;
  border-top: 1px solid $light-color;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.8);
}

.creation__desc {
  margin-top: 10px;
  padding: 0 15px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition: height 0.5s ease-in-out;
}

.creation__accordion input:checked ~ .creation__desc {
  transition: height 0.5s ease-in-out;

  &--1 {
    height: 190px;
  }

  &--2 {
    height: 150px;
  }

  &--3 {
    height: 150px;
  }

  &--4 {
    height: 160px;
  }
}

.creation__text {
  margin: 0;
  text-align: justify;
}
