@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/9622.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/9625.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/9623.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/9624.woff") format("woff");
}

@font-face {
  font-family: "Century-Gothic";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Century-Gothic.woff") format("woff");
}
