.footer {
  background-color: #212121;
}

.footer__copyright {
  padding-bottom: 25px;
  font-size: 13px;
  color: $light-color;
  margin: 10px auto;
  text-align: center;
  border-bottom: 3px solid #e8e8e8;
}
