/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */
h1 {
  font-family: $default-font;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: $default-font;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 5px 0 5px;
  color: $dark-color;
}

h2 {
  font-size: 30px;
  margin: 0 0 30px;
}

h3 {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
