.header {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-start;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 70px;
  background-color: #101010;
  background-size: 604px 150px;

  @media (min-width: $tablet-width) {
    min-height: 590px;
    background-position: bottom;
    background-size: auto;
  }
}

.header__title {
  display: block;
  margin: 0 auto;
  width: $panel-width;
  height: 150px;
  padding-top: 50px;
  font-family: $main-title;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;

  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.header__panel {
  width: $panel-width;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #000000;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    height: 110px;
  }
}

.header__toggle {
  margin-left: 20px;
  margin-right: auto;
  width: 36px;
  height: 32px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  background-image: url('../images/svg/menu-close.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 28px;
  transition: 1s;
  outline: none;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    opacity: 0.5;
  }

  &--collapse {
    background-image: url('../images/svg/menu-collapse.svg');
  }
}

.header__link {
  display: none;

  &--phone-icon {
    display: block;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    text-transform: uppercase;
    color: $gray-color;
    margin-right: 77px;

    &:hover,
    &--active,
    &--phone-number {
      color: $palegolden-color;
    }

    &:active {
      color: $beige-color;
    }

    &--phone-number {
      font-size: 20px;
      margin-right: 39px;
    }

    &:first-of-type {
      margin-right: 32px;
    }
  }
}

.header__lang-btn {
  width: 40px;
  height: 30px;
  margin-right: 12px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
  color: $darktext-color;
  outline: none;

  &--hidden {
    display: none;
  }

  &:hover {
    color: $light-color;
  }

  &--active {
    color: $teal-color;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__menu {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    height: 480px;
    margin: 0 auto;
    background-color: rgba(138, 136, 136, 0.3);
    transition: 1s;

    &--hidden {
      display: none;
    }
  }
}

.header__info {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    padding: 58px 40px 42px;
  }
}

.header__column {
  display: flex;
  flex-direction: column;
  width: 380px;

  &--right {
    .header__info-link,
    .header__text {
      text-align: right;
    }
  }
}

.header__info-link {
  color: $light-color;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: -4px;
}

.header__text {
  color: $gray-color;
  margin-bottom: 24px;
}
