.menu__first-list,
.menu__second-list {
  min-height: 50px;
  background-color: rgba(51, 51, 51, 0.5);
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__link {
  margin: 0 51px;
}

.menu__second-list {
  background-color: rgba(51, 51, 51, 0);

  .menu__link {
    margin: 0 71px;
  }
}

.menu__link a {
  text-transform: uppercase;
  font-weight: 700;
  color: $gray-color;

  &:hover {
    color: $darktext-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}
