.service {
  width: $panel-width;
  margin: 0 auto;
  min-height: 330px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E8E8E8;
  transition: 1s;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-bottom: 0;
  }
}

.service__item {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $darktext-color;
  background-color: rgb(232, 232, 232);
  border-top: 1px solid $light-color;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.4);

  @media (min-width: $tablet-width) {
    margin: 4px;
    max-width: 371px;
    min-width: 240px;
    min-height: 200px;
    flex-shrink: 2;
    flex-grow: 1;
    color: $darktext-color;
    background-color: rgb(232, 232, 232);
    border: 1px solid #dddddd;
    border-top-color: $light-color;

    &:hover {
      background: linear-gradient(#eeeeee, #dddddd);
/*      box-shadow:
          inset rgba(0,0,0,.5) 0 -1px 1px,
          inset rgba(0,0,0,.2) 0 1px,
          inset #fff 0 2px,
          rgba(0,0,0,.2) 0 1px 1px; */
    }

    &:active {
      background: linear-gradient(#dddddd, #eeeeee);
/*      box-shadow:
        inset rgba(0,0,0,.8) 0 1px 2px,
        inset rgba(0,0,0,.05) 0 -1px 0,
        #fff 0 1px 1px; */
    }
  }

  @media (min-width: $desktop-width) {
    margin: 5px;
    max-width: 650px;
    min-width: 300px;
    min-height: 280px;
  }
}

.service__title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 31px;
  }
}

.service__text {
  font-size: 0;

  @media (min-width: $tablet-width) {
    padding: 0 10%;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding: 0 40px
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 20px;
    padding: 0 70px
  }
}
