.stage {
  width: $panel-width;
  padding: 2px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 660px;
  color: #fff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 375px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 650px;
  }
}

.stage__title {
  padding: 0 40px 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid rgba(232, 232, 232, 0.1);
}

.stage__subtitle {
  margin-top: 20px;
  padding: 0 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  color: #aaa9a9;
}

.stage__list {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hidden {
    display: none;
  }
}

.stage__type {
  margin-bottom: 60px;
  padding: 3px 7px;
  width: 130px;
  min-height: 30px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 5px;
  border: 1px solid $teal-color;
  background-color: $teal-color;
  border-radius: 15px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $darktext-color;
  }
}

.stage__sublist {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }
}

.stage__item {
  padding: 5px 40px 5px 50px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #aaa9a9;
}

.stage__back {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: $teal-color;
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  &--hidden {
    display: none;
  }
}
