.stage {
  width: $panel-width;
  padding: 2px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 660px;
  color: #fff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 375px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 650px;
  }
}

.stage__title {
  padding: 0 40px 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid rgba(232, 232, 232, 0.1);

  @media (min-width: $desktop-width) {
    align-self: stretch;
    font-size: 18px;
    padding: 18px 0 35px;
  }
}

.stage__subtitle {
  margin-top: 20px;
  padding: 0 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  color: #aaa9a9;

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.stage__wrapper-full {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.stage__list {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-right: 20px;

    &--hidden {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 140px;
    flex-direction: row;
    margin-top: 6px;
    justify-content: space-between;
  }
}

.stage__type {
  margin-bottom: 60px;
  padding: 3px 7px;
  width: 130px;
  min-height: 30px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 5px;
  border: 1px solid $teal-color;
  background-color: $teal-color;
  border-radius: 15px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $darktext-color;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    &--active {
      font-weight: 700;
      color: $teal-color;
      background-color: $light-color;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    cursor: default;

    &:last-child {
      margin-right: 25px;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      color: $light-color;
    }
  }
}

.stage__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 600px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

.stage__sublist {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 210px;

    &--hidden {
      display: block;
    }
  }

  &--sea {
    padding-left: 15px;
  }

  &--usability {
    padding-left: 20px;
  }

  &--redesign {
    padding-left: 30px;
  }
}

.stage__item {
  padding: 5px 40px 5px 50px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: #aaa9a9;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 15px;
  }
}

.stage__back {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: $teal-color;
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
