.way {
  width: $panel-width;
  margin: 0 auto;
  background-color: $bg_main-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.way__title {
  margin: 0;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  span {
    color: $teal-color;
    font-weight: 700;
  }

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.way__list {
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 665px;
    height: 1090px;
    padding: 20px 0;
  }
}

.way__subtitle {
  margin: 19px 0 20px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: attr(data-number);
    width: 30px;
    height: 26px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-color: $teal-color;
    color: $light-color;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 3;
  }

  &::after {
    content: "";
    height: 1px;
    width: 270px;
    border-top: 2px solid $bg_body-color;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 12px;
  }
}

.way__item {
  margin-top: 0;

  @media (min-width: $desktop-width) {
    width: 665px;

    &:nth-of-type(1) {
      padding-left: 30px;
      padding-right: 120px;
      order: 3;
    }

    &:nth-of-type(2) {
      margin-top: 170px;
      padding-left: 120px;
      padding-right: 30px;
      order: 1;
    }

    &:nth-of-type(3) {
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 120px;
      order: 4;
    }

    &:nth-of-type(4) {
      margin-top: 93px;
      margin-bottom: 50px;
      padding-left: 120px;
      padding-right: 30px;
      order: 2;
    }

    &:nth-of-type(5) {
      margin-top: 95px;
      padding-left: 30px;
      padding-right: 120px;
      order: 5;
    }

    &:nth-of-type(even) .way__subtitle {
      text-align: right;

      &::before {
        left: auto;
        right: -45px;
      }

      &::after {
        width: 330px;
        left: auto;
        right: -45px;
      }
    }

    &:nth-of-type(odd) .way__subtitle {
      padding-left: 0;

      &::before {
        left: -45px;
      }

      &::after {
        width: 330px;
        left: -31px;
      }
    }

    &:nth-of-type(1) .way__subtitle {

      &::after {
        height: 690px;
        background-color: transparent;
        border-left: 2px solid $bg_body-color;
      }
    }
  }
}

.way__wrapper-text {
  height: 160px;
  overflow-y: hidden;
  transition: height 2s;
  position: relative;

  &--open {
    height: auto;
    overflow-y: visible;
    transition: height 2s;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    overflow-y: visible;
  }
}

.way__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: justify;

  span {
    font-weight: 700;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.way__container-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.way__readmore {
  font-size: 15px;
  font-weight: 300;
  padding: 12px 0 0;
  border-color: transparent;
  color: $teal-color;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &::after {
    content: " >";
    font-weight: 700;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--hidden {
    color: transparent;
  }
}

.way__collapse {
  display: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &--visible {
    display: block;
  }
}

.way__arrow-up {
  @include zero-centered;
  @include triangle-top(10px, $teal-color);

  &:active {
    @include triangle-top(7px, $darktext-color);
  }
}
