.content {
  width: 100%;
}

.content__container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &--work {
    background-image: url('../images/work_bg.jpg');

    @media (min-width: $tablet-width) {
      min-height: 375px;
      background-image: url('../images/work_bg-tablet.jpg');
    }

    @media (min-width: $desktop-width) {
      min-height: 650px;
      background-image: url('../images/work_bg-desktop.jpg');
    }
  }

  &--stage {
    background-image: url('../images/redesign_bg-mobile.jpg');

    @media (min-width: $tablet-width) {
      min-height: 500px;
      background-image: url('../images/redesign_bg-tablet.jpg');
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      min-height: 650px;
      background-image: url('../images/redesign_bg-desktop.jpg');
    }
  }

  &--step {
    background-image: url('../images/step_bg-mobile.jpg');

    @media (min-width: $tablet-width) {
      min-height: 500px;
      background-image: url('../images/step_bg-tablet.jpg');
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      min-height: 810px;
      background-image: url('../images/step_bg-desktop.jpg');
    }
  }
}

.content__block {
  min-height: 40px;
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }
}

.content__block--green {
  min-height: 70px;
  background-color: $teal-color;

  @media (min-width: $tablet-width) {
    min-height: 100px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    min-height: 120px;
  }
}

.content__restrict-width {
  width: $panel-width;
  margin: 0 auto;
  background-color: $bg_main-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }

  &--modern {
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      padding-top: 70px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 118px;
    }
  }

  &--mobile-app {
    padding-top: 37px;

    @media (min-width: $tablet-width) {
      padding-top: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 85px;
    }
  }
}

.content__page-link {
  padding-right: 20px;
  color: $light-color;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;

  &:hover {
    color: $gray-color;
  }

  &:active {
    color: $light-color;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    color: $light-color;
    width: 9px;
    height: 1px;
    border-top: 1px solid $light-color;
    position: absolute;
    top: 7px;
    right: 5px;

    @media (min-width: $desktop-width) {
      width: 11px;
      top: 10px;
      right: 0;
    }
  }

  &::before {
    transform: rotate(37deg);
  }

  &::after {
    top: 12px;
    transform: rotate(-37deg);

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 16px;
    font-size: 20px;
    font-weight: 300;
  }
}

.content__title {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: $light-color;
  text-transform: uppercase;

  &--portfolio {
    padding-left: 70px;
    font-weight: 700;
    line-height: 30px;
    color: $darktext-color;
    text-align: left;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 10px;
      border-bottom: 2px solid $bg_body-color;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.content__text {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: $light-color;
  text-transform: uppercase;

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    font-size: 18px;
    padding: 0 20px;

    &--desktop {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 930px;
    font-size: 25px;
    line-height: 41px;
    padding: 0;
  }
}
