.contacts {
  width: $panel-width;
  margin: 0 auto;
  padding: 25px 48px 35px;
  background-color: $bg_main-color;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    position: absolute;
    left: 10px;
    top: 0;
    border-bottom: 2px solid #aaa9a9;
  }

  @media (min-width: $tablet-width) {
    width: 560px;
    padding: 8px 0 25px;

    &::before {
      width: 690px;
      left: -65px;
      top: -28px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 77px;

    &::before {
      width: 1090px;
      left: -265px;
      top: -26px;
    }
  }
}

.contacts__mobile-only {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__desktop-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.contacts__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.contacts__list {
  margin: 18px 0 7px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 25px 0 20px;
    padding: 0 40px;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    margin: 48px 0 38px;
  }
}

.contacts__item {
  font-size: 0;

  @media (min-width: $tablet-width) {

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $teal-color;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.contacts__icon {
  width: 90px;
  height: 90px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px solid $teal-color;
  border-radius: 50%;
  color: $bg_main-color;
  background-color: $teal-color;
  text-align: center;
  transition: transform 1s;

  &:hover {
    color: $light-color;
    transform: rotate(60deg);
  }

  &:active {
    color: $dark-color;
    background-color: $gray-color;
    border-color: $gray-color;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}
