.footer {
  background-color: #212121;

  &--404 {
    background-color: transparent;
    flex: 0 0 auto;
  }
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  color: $light-color;
  margin: 10px auto 0;
  padding-bottom: 7px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 13px;
    padding-bottom: 17px;
  }
}
