.header {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-start;
  background-repeat: no-repeat;
  background-position: center 70px;
  background-size: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 173px;
    background-position: center 90px;
  }

  @media (min-width: $desktop-width) {
    min-height: 300px;
    background-position: center 110px;
  }

  &--main {
    min-height: 480px;
    background-image: url('../images/banner_top-mobile@1x.jpg');
    background-size: 604px 150px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../images/banner_top-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      min-height: 285px;
      background-size: auto;
      background-image: url("../images/banner_top-tablet@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../images/banner_top-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../images/banner_top-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../images/banner_top-desktop@2x.jpg");
      }
    }
  }

  &--develop {
    @include header-img('develop');
  }

  &--modern {
    @include header-img('modern');
  }

  &--support {
    @include header-img('support');
  }

  &--mobile {
    @include header-img('mobile');
  }

  &--about {
    @include header-img('about');
  }

  &--brif {
    @include header-img('brif');
  }

  &--portfolio {
    @include header-img('portfolio');
  }

  &--contact {
    @include header-img('contact');
  }

  &--project {
    min-height: 40px;

    @media (min-width: $tablet-width) {
      min-height: 87px;
    }

    @media (min-width: $desktop-width) {
      min-height: 150px;
    }
  }

  &--project1 {
    @include url-img(1);
  }

  &--project2 {
    @include url-img(2);
  }

  &--project3 {
    @include url-img(3);
  }

  &--project4 {
    @include url-img(4);
  }

  &--project5 {
    @include url-img(5);
  }

  &--project6 {
    @include url-img(6);
  }

  &--404 {
    min-height: 50px;
    flex: 0 0 auto;
    background-image: none;
    background-color: transparent;

    .header__menu {
      min-height: 50px;
      height: 50px;
      top: 0;
      background-color: transparent;
    }
  }
}

.header__title {
  display: block;
  margin: 0 auto;
  width: $panel-width;
  height: 150px;
  padding-top: 50px;
  font-family: $main-title;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-align: center;

  &--opacity {
    color: #bababa;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    width: 750px;
    min-height: 286px;
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    width: 870px;
    min-height: 480px;
    padding-top: 170px;
  }

  &--page {
    height: 70px;
    padding-top: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
      min-height: 173px;
      font-size: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 118px;
      min-height: 300px;
      font-size: 50px;
    }
  }

  &--project {
    padding-top: 7px;
    height: 40px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
      min-height: 87px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 40px;
      min-height: 150px;
    }
  }
}

.header__menu {
  width: 100%;
  height: 480px;
  background-color: rgba(138, 136, 136, 0.3);
  transition: 3s;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 100;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    height: 286px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    height: 480px;
    top: 110px;
  }
}

.header__container {
  width: 100%;

  @media (min-width: $desktop-width) {
    background-color: $bg_main-color;
  }

  &--black {
    background-color: #000000;
  }

  &--black-opacity {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.8);

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      margin-bottom: auto;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }

  &--white {
    background-color: rgba(255, 255, 255, 0.76);
  }
}

.header__panel {
  width: $panel-width;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 90px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    height: 110px;
  }
}

.header__toggle {
  margin: 0 20px;
  width: 36px;
  height: 35px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 34px;
    height: 3px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 2px;
    transition: 0.5s;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 0;
    width: 34px;
    height: 3px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 2px;
    transition: 0.5s;
  }

  &--collapse {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      width: 22px;
      height: 22px;
      border: none;
      background-color: transparent;
      border-top: 5px solid #6e6e6e;
      border-left: 5px solid #6e6e6e;
      border-radius: 3px;
      transform: rotate(45deg);
      transition: 0.5s;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: 5px;
      width: 22px;
      height: 22px;
      border: none;
      background-color: transparent;
      border-top: 5px solid #6e6e6e;
      border-right: 5px solid #6e6e6e;
      border-radius: 3px;
      transform: rotate(-45deg);
      transition: 0.5s;
    }

  }

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 75px;
    margin-right: 40px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__logo-link {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo-img {
    width: 60%;

  @media (min-width: $tablet-width) {
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.header__link {
  display: none;

  &--phone-icon {
    display: block;
    margin-right: 20px;
    color: #ffffff;

    &:hover {
      color: $palegolden-color;

      &::after {
        display: none;
      }
    }

    &:active {
      color: $teal-color;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    text-transform: uppercase;
    color: $gray-color;
    margin-right: 30px;
    position: relative;

    &:hover,
    &:active {
      color: transparent;
    }

    &--active {
      color: $palegolden-color;
    }

    &:first-of-type {
      margin-right: 40px;
    }

    &--phone-number {
      display: none;
    }

    &:hover::after {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 10px;
      top: 2px;
      z-index: 1;
      background: transparent;
      font-size: 14px;
      font-weight: 700;
      color: $palegolden-color;
    }

    &:active::after {
      color: $beige-color;
    }

    &--phone-icon {
      color: $gray-color;

      &:hover {
        color: $palegolden-color;
      }

      &:active {
        color: $teal-color;
      }

      &:hover::after {
         display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 126px;

    &--phone-number {
      display: block;
      font-size: 20px;
      margin-right: 38px;

      &:hover {
        color: $palegolden-color;
      }

      &:active {
        color: $beige-color;
      }

      &:hover::after {
        display: none;
      }
    }

    &--phone-icon {
      display: none;
    }
  }
}

.header__container-btn {
  width: 30px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 30px;
    margin-left: 0;
    margin-right: 30px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-left: 40px;
  }
}

.header__lang-btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
  color: $gray-color;
  outline: none;

  &:hover {
    color: $light-color;
  }

  &--active {
    color: $teal-color;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    text-transform: lowercase;
    width: 30px;
    background-color: $darktext-color;
  }
}

.header__lang-btn--ivrit {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  font-size: 17px;
  line-height: 16px;
  font-family: $ivrit-font;
  color: $gray-color;
  outline: none;

  &:hover {
    color: $light-color;
  }

  &--active {
    color: $teal-color;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    font-size: 13px;
    background-color: $darktext-color;
  }
}


.header__info {
  width: $panel-width;
  margin: 0 auto;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 230px 42px;
  }
}

.header__column {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 380px;

    &--right {
      .header__info-link,
      .header__text {
        text-align: right;
      }
    }
  }
}

.header__info-link {
  padding: 20px;
  color: $light-color;
  text-transform: uppercase;
  font-size: 13px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin-bottom: -4px;
    padding: 0;
  }
}

.header__text {
  font-size: 0;

  @media (min-width: $desktop-width) {
    color: $gray-color;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }
}
