.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu--close {
  display: none;
}

.menu__first-list,
.menu__second-list,
.menu__third-list {
  margin: 0 auto;
  min-height: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__first-list {
  width: $panel-width;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;

  .menu-item a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-color;

    &:hover {
      color: $teal-color;
    }

    &:active {
      color: $tealgray-color;
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }
}

.menu--404 .menu__first-list {
  height: 50px;

  .menu-item a {
    font-size: 12px;
    text-transform: uppercase;
    color: $light-color;

    &:hover {
      color: $teal-color;
    }

    &:active {
      color: $tealgray-color;
    }
  }

  .menu-item:nth-child(2) a {
    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    height: 60px;

    .menu-item a {
      font-size: 14px;
    }

    .menu-item:nth-child(2) a {
      font-size: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 70px;

    .menu-item a {
      font-size: 16px;
    }

    .menu-item:nth-child(2) a {
      font-size: 20px;
    }

  }
}

.menu-item {
  &--desktop-only {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.menu__second-list {
  width: $panel-width;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 115px;
    padding: 0 230px;
  }

  &::before {
    display: none;
    content: "";
    background-color: #242424;
    position: absolute;
    right: 0;
    top: 20px;
    width: 3px;
    height: 200px;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    background-color: #242424;
    position: absolute;
    left: 20px;
    bottom: -2px;
    width: 280px;
    height: 3px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 860px;
      bottom: 112px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .menu-item a {
    color: $light-color;
    text-transform: uppercase;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .menu-item {
    margin: 0;
    padding-left: 20px;
    min-height: 51px;
    line-height: 51px;

    @media (min-width: $desktop-width) {
      padding: 40px 0 0;
    }
  }
}

.menu__third-list {
  width: $panel-width;
  flex-direction: column;
  background-color: #212121;

  .menu-item {
    margin: 5px 28px;
  }

  .menu-item a {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 60px;
    flex-direction: row;

    .menu-item a {
      font-size: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 70px;

    .menu-item a {
      font-size: 20px;
    }
  }
}
