.order {
  padding: 12px 10px 42px;
  min-width: $panel-width;
  margin: 0 auto;
  min-height: 700px;
  background-image: url('../images/order_bg-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../images/order_bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    background-image: url("../images/order_bg-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../images/order_bg-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding-top: 128px;
    padding-bottom: 48px;
    background-image: url("../images/order_bg-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../images/order_bg-desktop@2x.jpg");
    }
  }
}

.order__title {
  margin-bottom: 37px;
  text-align: center;
  font-size: 15px;
  color: $light-color;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 23px;
    margin-bottom: 45px;
  }
}

.order__form {
  max-width: $panel-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    max-width: 645px;
  }
}

.order__input,
.order__textarea {
  width: 100%;
  height: 50px;
  font-family: inherit;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 18px;
}

.order__textarea {
  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.order__textarea {
  padding: 15px 20px;
  min-height: 270px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    min-height: 250px;
  }
}

.order__label {
  font-style: italic;
  font-size: 18px;
  line-height: 20px;
  color: transparent;
  position: absolute;
  right: 10px;
  top: -30px;
}

.order__checkbox {
  display: none;
}

.order__text {
  font-size: 11px;
  font-weight: 300;
  align-self: left;
  padding-left: 30px;
  color: $light-color;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    font-size: 16px;
  }
}

.order__checkbox + .order__text::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 18px;
    height: 18px;
    border: 1px solid $light-color;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      top: 0;
    }
}

.order__checkbox:checked + .order__text::after {
  display: block;
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url('../images/check.png');
  background-repeat: no-repeat;
  background-position: center;
  left: 3px;
  top: -7px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 2px;
  }
}

.order__link {
  color: $teal-color;
  font-weight: 400;

  @include underline-hover(1px, -3px, 0, $teal-color);

  &:active {
    color: $tealgray-color;
    text-decoration: none;
  }
}

.order__file-container {
  margin-top: 20px;
  min-width: 140px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--hidden .order__filename {
    color: transparent;
  }

  &--hidden .order__delete-file {
    background-image: none;

    @media (min-width: $desktop-width) {
      color: transparent;
      border-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    min-width: 200px;
  }
}

.order__filename {
  color: $light-color;
  font-size: 18px;
}

.order__delete-file {
  font-size: 0;
  width: 17px;
  height: 13px;
  background-color: transparent;
  border-color: transparent;
  background-image: url('../images/cross-file.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    min-width: 98px;
    min-height: 30px;
    font-size: 13px;
    color: $light-color;
    text-transform: uppercase;
    border: 1px solid $light-color;
    background-color: transparent;
  }
}

.order__btn-container {
  margin: 25px 0 27px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.order__btn {
  margin: 0 5px 10px;
  width: 220px;
  height: 50px;
  background-color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  color: $light-color;
  border: transparent;
  cursor: pointer;

  &:hover {
    background-color: $teal-color;
    color: $light-color;
  }

  &:active {
    background-color: $tealgray-color;
  }
}

.order__info {
  max-width: $panel-width;
  margin: 0 auto;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: $light-color;
  text-align: center;

  a {
    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    max-width: 580px;
  }

  @media (min-width: $desktop-width) {
    max-width: 620px;
    font-size: 16px;
  }

}
