html, body {
  min-width: $panel-width;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
  color: $darktext-color;
  line-height: 1.25;
  background-color: $bg_body-color;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #2E4B51, #89BBB1);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.125s ease-in-out 0s;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
//--------------------------------------------
// Центровка
//--------------------------------------------
@mixin zero-centered {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
//--------------------------------------------
// Стрелки с помощью треугольников
//--------------------------------------------
@mixin triangle($size, $color) {
  width: 0;
  height: 0;
  border-width: $size;
  border-style: solid;
  border-color: $color;
}

@mixin triangle-top($size, $color) {
  @include triangle($size, $color);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
}

@mixin triangle-bottom($size, $color) {
  @include triangle($size, $color);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
