body {
  min-width: $panel-width;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
  color: $darktext-color;
  line-height: 1.25;
  background-color: $bg_main-color;
  overflow-x: hidden;

  @media (min-width: $desktop-width) {
    background-color: $bg_body-color;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #2E4B51, #89BBB1);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.125s ease-in-out 0s;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 25px;
  top: 50%;
  border: none;
  border-bottom: 5px solid #d0cfcf;
  border-right: 5px solid #d0cfcf;
  border-radius: 3px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  z-index: 10;

  &--left {
    transform: rotate(135deg);
    left: 10px;
  }

  &--right {
    transform: rotate(-45deg);
    right: 10px;
  }

  &:hover {
    border-color: $teal-color;
    opacity: 0.6;
  }

  &:active {
    border-color: $tealgray-color;
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    top: 45%;

    &--left {
      left: 40px;
    }

    &--right {
      right: 40px;
    }

  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;

    &--left {
      left: 30px;
    }

    &--right {
      right: 30px;
    }
  }
}
