/* Настройка вьюпорта */
$panel-width: 320px;
$tablet-mini-width: 480px;
$tablet-width: 768px;
$desktop-mini-width: 1024px;
$desktop-width: 1330px;

/* Настройка текстовых параметров */
$default-font: "Lato", "Arial", sans-serif;
$main-title: "Century-Gothic", "Arial", sans-serif;
$ivrit-font: "Tahoma", "Arial", sans-serif;

/* Цвета сайта */

$light-color: #ffffff;
$darktext-color: #282828;
$dark-color: #181818;
$gray-color: #787878;
$teal-color: #057d7d;
$tealgray-color: #5c7979;
$palegolden-color: #ccc039;
$beige-color: #6d6a48;
$bg_body-color: #d1d1d1;
$bg_main-color: #e8e8e8;
