.brif__form {
  max-width: $panel-width;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.brif__section {
  margin: 20px 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  border-color: rgba(0, 0, 0, 0.4);

  @media (min-width: $tablet-width) {
    padding: 20px;

    &--1,
    &--2,
    &--6,
    &--7 {
      width: 47%;
    }

    &--2 {
      background-image: url("../images/brif.png");
      background-position: bottom 30px right 10px;
      background-repeat: no-repeat;
      background-size: 25%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;

    &--2 {
      background-size: 20%;
    }

    &--3 {
      width: 75%;
    }

    &--4,
    &--5 {
      .brif__textarea {
        width: 60%;
      }
    }
  }
}

.brif__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .brif__subsection {
      width: 45%;

      .brif__textarea {
        width: 100%;
      }
    }
  }
}

.brif__subsection {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border-style: solid;

  @media (min-width: $tablet-width) {
    margin: 15px 10px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 10px;
  }
}

.brif__subtitle {
  padding: 0 7px;
  font-size: 12px;
  font-weight: 700;
  color: $tealgray-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
  }
}

.brif__subsection-title {
  font-size: 11px;
  font-weight: 700;
  color: $tealgray-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 13px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.brif__label {
  font-size: 13px;
  padding: 5px 0 5px 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 7px 0 7px 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding: 10px 0 10px 27px;
  }

  &--text {
    padding: 5px 0;
  }
}

.brif__checkbox {
  display: none;
}

.brif__checkbox + .brif__label::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid $tealgray-color;
    background-color: $light-color;
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;

    @media (min-width: $tablet-width) {
      top: 5px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
    }
}

.brif__checkbox:checked + .brif__label::after {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../images/check-green.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  left: 1px;
  top: 4px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 6px;
  }

  @media (min-width: $desktop-width) {
    top: 9px;
  }
}

.brif__text,
.brif__textarea {
  width: 100%;
  font-family: $default-font;
  font-size: 13px;
  line-height: 20px;
  padding-left: 7px;
  border-color: transparent;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 25px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 30px;
    padding-left: 12px;
  }
}

.brif__note {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: $tealgray-color;

  @media (min-width: $tablet-width) {
    font-size: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.brif__btn {
  margin: 0 5px 10px;
  align-self: center;
  width: 220px;
  height: 50px;
  background-color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  color: $light-color;
  border: transparent;
  cursor: pointer;

  &:hover {
    background-color: $teal-color;
    color: $light-color;
  }

  &:active {
    background-color: $tealgray-color;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}
