.creation {
  width: $panel-width;
  margin: 0 auto;
  padding: 10px 0 0;
  background-color: $bg_main-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 30px 40px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 55px 120px 60px;;
  }
}

.creation__intro {
  padding: 15px 19px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify;

  span {
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 0 0;
    font-size: 18px;
  }
}

.creation__link {
  color: $teal-color;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $tealgray-color;
    text-decoration: none;
  }
}

.creation__accordion {
  width: 320px;
  margin: 30px auto 0;
  padding-bottom: 25px;

  &--support {
    padding-bottom: 0;
  }
}

.creation__accordion input {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.creation__title {
  width: 320px;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: $darktext-color;
  text-align: center;
  display: block;
  z-index: 20;
  cursor: pointer;
  background-color: #f0f0f0;
  outline: 3px solid $tealgray-color;
  outline-offset: -13px;
  border-top: 1px solid $light-color;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.8);
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 10px;
    height: 10px;
    border: none;
    background-color: transparent;
    animation-name: spin-reverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @include triangle-bottom(8px, $teal-color);
  }

  @media (min-width: $tablet-width) {
    width: 210px;
    height: 212px;
    padding-top: 151px;
    font-size: 17px;
    background-color: #f0f0f0;
    border-top: 3px solid $light-color;
    outline: 3px solid $tealgray-color;
    outline-offset: -22px;
    cursor: auto;
    background-repeat: no-repeat;
    background-position: center 41px;

    &::after {
      display: none;
    }

    &--1 {
      background-image: url('../images/idea.png');
    }

    &--2 {
      background-image: url('../images/brif.png');
      background-position: center 50px;
    }

    &--3 {
      background-image: url('../images/techproject.png');
      background-position: center 50px;
    }

    &--4 {
      background-image: url('../images/prototip.png');
      background-position: center 50px;
    }

    &--5 {
      background-image: url('../images/design.png');
    }

    &--6 {
      background-image: url('../images/layout.png');
      background-position: center 55px;
    }

    &--7 {
      background-image: url('../images/content.png');
      background-position: center 45px;
    }

    &--8 {
      background-image: url('../images/public.png');
      background-position: center 45px;
    }

    &--9 {
      background-image: url('../images/providing.png');
      background-position: center 45px;
    }

    &--10 {
      background-image: url('../images/filling.png');
      background-position: center 45px;
    }

    &--11 {
      background-image: url('../images/update.png');
      background-position: center 45px;
    }

    &--12 {
      background-image: url('../images/help.png');
      background-position: center 45px;
    }
  }
}

.creation__desc {
  padding: 0 15px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition: height 0.5s ease-in-out;
}

.creation__accordion input:checked ~ .creation__desc {
  transition: height 0.5s ease-in-out;

  &--1,
  &--4,
  &--5,
  &--6 {
    height: 190px;
  }

  &--2,
  &--3,
  &--7,
  &--8 {
    height: 170px;
  }
}

.creation__accordion input:checked ~ .creation__title {

  &::after {
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @include triangle-bottom(8px, $teal-color);
  }
}

.creation__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-align: justify;

  @media (min-width: $tablet-width) {
    width: 210px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.creation__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    justify-content: space-between;
  }

  .creation__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 0;

    @media (min-width: $desktop-width) {
      margin-right: 30px;

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }

  &--support {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .creation__tile {
      margin: 20px 0 0;
      flex-direction: row;
      justify-content: space-between;

      .creation__title {
        flex-shrink: 0;
      }
      .creation__wrapper-text {
        padding-left: 25px;

        .creation__text {
          width: 100%;
        }
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: 27px;
    }
  }
}

.creation__mobile-only {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.creation__desktop-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
