.hide-text__checkbox {
  display: none;
}

.hide-text__wrapper {
  height: 160px;
  margin-bottom: 10px;
  overflow-y: hidden;
  transition: height 0.5s ease-in-out;
  position: relative;

  @media (min-width: $tablet-width) {
    height: auto;
    overflow-y: visible;
  }
}

.hide-text__checkbox:checked ~ .hide-text__wrapper {
  transition: all 0.5s ease-in-out;
  height: 465px;

  &--1 {
    height: 450px;
  }

  &--4 {
    height: 340px;
  }

  &--2,
  &--3 {
    height: 390px;
  }

  &--5 {
    height: 520px;
  }
}

.hide-text__text {
  margin: 0;
  margin-bottom: 7px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: justify;

  span {
    font-weight: 700;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.hide-text__readmore {
  font-size: 15px;
  font-weight: 400;
  padding: 12px 0 0;
  border-color: transparent;
  color: $teal-color;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  position: relative;

  &::before {
    content: "Читать далее";
  }

  &::after {
    content: "";
    @include zero-centered;
    right: -130px;
    top: 15px;
    animation-name: spin-reverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @include triangle-bottom(7px, $teal-color);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.hide-text__checkbox:checked ~ .hide-text__readmore {

  &::before {
    content: "Свернуть текст";
  }

  &::after {
    content: "";
    @include zero-centered;
    right: -130px;
    top: 15px;
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @include triangle-bottom(7px, $teal-color);
  }
}
