.partner {
  width: $panel-width;
  margin: 0 auto;
  padding: 20px 0 39px;
  background-color: $bg_main-color;
  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 30px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 40px 0 80px;
  }
}

.swiper-container--1 {
  width: 240px;
  height: 120px;
  padding-left: 0;
  padding-right: 0;
  background-color: $bg_main-color;

  @media (min-width: $tablet-width) {
    width: 554px;
  }

  @media (min-width: $desktop-width) {
    width: 1182px;
  }
}

.swiper-slide {
  &--slide1,
  &--slide2,
  &--slide3,
  &--slide4,
  &--slide5,
  &--slide6,
  &--slide7 {
    width: 240px;
    min-height: 120px;
    background-color: #dddddd;
    color: #000000;
    border: none;
  }
}


.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 25px;
  top: 50%;
  border: none;
  border-bottom: 5px solid #d0cfcf;
  border-right: 5px solid #d0cfcf;
  border-radius: 3px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  z-index: 10;

  &--left {
    transform: rotate(135deg);
    left: 15px;
  }

  &--right {
    transform: rotate(-45deg);
    right: 15px;
  }

  &:hover {
    border-color: $teal-color;
    opacity: 0.6;
  }

  &:active {
    border-color: $tealgray-color;
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    top: 45%;

    &--left {
      left: 40px;
    }

    &--right {
      right: 40px;
    }

  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;

    &--left {
      left: 30px;
    }

    &--right {
      right: 30px;
    }
  }
}
