.slider {
  max-width: $panel-width;
  margin: 0 auto;
  padding: 12px 0;
  background-color: $bg_main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 30px 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 40px 120px;
  }

  &--project {
    @media (min-width: $desktop-width) {
      max-width: 50%;
      width: 50%;
    }
  }
}

.slider__slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid $light-color;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.4);

  &--active {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 300px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.slider__quote {
  width: $panel-width;
  padding: 2px 50px 10px;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 220px;
    position: absolute;
    left: 50px;
    bottom: 0;
    border-bottom: 2px solid $bg_main-color;
  }

  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border-right: 2px solid $bg_main-color;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}

.slider__text {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }
}

.slider__persona {
  width: $panel-width;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 197px;

  @media (min-width: $desktop-width) {
    width: 35%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.slider__name {
  font-weight: 700;
  font-size: 14px;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.slider__firm {
  text-align: center;
  font-size: 14px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.slider__btn {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 55px;
  border: none;
  border-bottom: 5px solid #d0cfcf;
  border-right: 5px solid #d0cfcf;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.5s;

  &--left {
    transform: rotate(135deg);
    left: 12px;
  }

  &--right {
    transform: rotate(-45deg);
    right: 12px;
  }

  &--hidden {
    display: none;
  }

  &:hover {
    border-color: $teal-color;
    opacity: 0.6;
  }

  &:active {
    border-color: $tealgray-color;
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    top: 35%;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
    top: 47%;

    &--left {
      left: 55px;
    }

    &--right {
      right: 55px;
    }
  }
}
