.portfolio {
  width: $panel-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg_main-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px 5px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-top: -5px;
  }
}

.portfolio__project {
  padding: 0;
  margin: 0;
  height: 180px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 369px;
    height: 204px;
    margin: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    height: 360px;
  }
}

.portfolio__blind {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .portfolio__link {
    margin-bottom: 20px;
    color: $light-color;
    background-color: rgba(24, 24, 24, 0.6);
  }

  .portfolio__desc {
    display: none;
  }

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    .portfolio__link {
      display: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);

      .portfolio__desc {
        display: block;
        color: $darktext-color;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 20px;
        text-align: center;
      }

      .portfolio__link {
        display: block;
        margin-bottom: 40px;
        color: $light-color;
        background-color: rgba(24, 24, 24, 0.6);

        &:hover {
          background-color: rgba(5, 125, 125, 0.6);
        }

        &:active {
          background-color: rgba(92, 121, 121, 0.6);
        }
      }
    }
  }
}

.portfolio__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s ease-in-out 0s;

  .portfolio__desc {
    color: transparent;
  }
}

.portfolio__title {
  font-size: 14px;
  color: $light-color;
  text-align: center;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.portfolio__item {
  color: transparent;
  line-height: 25px;
}

.portfolio__link {
  color: transparent;
  border: none;
  background-color: transparent;
  width: 208px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-self: center;
  text-transform: uppercase;
  text-align: center;
}
